{% extends "layout.html" %}

{% block title %}
  About
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="section-title" style="max-width: 600px; text-align: center;">
    <h2>About</h2>
    <p>Welcome to my Yahtzee game! This game is the final project for my CS50 online course at Harvard. I've used a lot of what I learned in the course and also picked up some new skills along the way.</p>
    <p>Making this game was a fun challenge. I had to figure out the game logic and make the interface easy to use. Every part of the project was a learning experience, and I enjoyed it alot.</p>
    <p>I'm proud of how this game turned out. Whether you're here to play a round or just to see what it can do, I hope you enjoy it as much as I enjoyed making it. Thank you!</p>
  </div>
</div>

<div class="container text-center">
  <img src="/static/images/hero-bg.jpg" class="img-fluid" alt="Profile Photo" style="max-width: 60%;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="I like traveling and love new adventures. What's next? :)">
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
